// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  @include flex-r-nw;
  @include box-shadow;

  width: 100%;
  height: 60px;

  justify-content: center;
  align-items: center;

  background-color: white;

  position: sticky;
  top: 0;

  z-index: 100;

  svg {
    width: 10rem;
  }

  a {
    position: absolute;
    left: 1rem;
    color: $text-color;

    &:hover {
      color: $primary-color;
    }
  }

  i {
    transform: scale(1.3);
  }
}
