.hero {
  @include flex-c-nw;
  @include pad-cont;
  align-items: center;

  background-color: $light-grey;

  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: map-get($font-weight, black);
  }

  p:last-of-type {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}
