// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  @include cta-bg;
  width: fit-content;
  padding: 16px;
  border: none;
  border-radius: 32px;
  color: white;
  font-weight: map-get($font-weight, semi-bold);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    @include cta-bg-hov;
    color: white;
    text-decoration: inherit;
  }
}
