.menu-tile {
  @include flex-r-nw;
  @include box-shadow;

  overflow: hidden;

  --add-to-cart: -4rem;

  background-color: white;
  margin-bottom: 1rem;

  border-radius: 1rem;

  &__text {
    padding: 1rem;
    width: 100%;
    overflow: hidden;

    h3,
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__price {
    font-weight: map-get($font-weight, bold);

    margin-top: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &:hover {
    --add-to-cart: 0rem;
    i {
      animation: turns-in 0.35s 0.15s backwards;
    }
  }

  /*animation delay*/
  @for $i from 1 through 4 {
    &--delay-#{$i} {
      animation: slide-up 1s (($i * 200)-200ms) cubic-bezier(0.2, 0.5, 0.5, 1) backwards;
    }
  }
}
