span[name="tag-new"] {
  color: darken($tertiary-color, 35);
  font-weight: map-get($font-weight, bold);

  background-color: $tertiary-color;

  border-radius: 4px;
  padding: 0.5rem 1rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 200;
}
